---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<ul>
          <li>Lecturer of Extended System Programing Laboratory, Ben-Gurion University
          [Since 2015]
		  </li>				
		  <li>Teaching assistant for Systems Programming, Ben-Gurion University
          [2012-2013]
		  </li>
          <li>Teaching assistant for System Programming Laboratory, Ben-Gurion University
           [Since 2011]
		   </li>	
</ul>

<a href="http://oldweb.cs.bgu.ac.il/faculty/person/jumanan.html">A more comprehensive list.</a>